.grid-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 10px;
  }
  
  .image {
    max-width: 250px;
    padding: 10px;
    margin: 10px;
  }
  
  .image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }
  
  body{
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: auto;
    background-color: white;
  }
  
  a { 
    padding: 10px;
    color: rgb(4, 0, 255); 
  }
  
  header {
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    background-color: burlywood;
    color: white;
  }
  
  h1 {
    font-size: 1em;
    color: white;
  }
  h2 {
    font-size: 2em;
    margin: 0px 0px 0px 10px;
    color: black;
  }
  
  footer {
    text-align: center;
    padding: 5px 0px 5px 0px;
    background-color:black;
    color: white;
  }
  
  h3{
    padding: 10px;
    font-size: .9em;
  }
  
  h4{
    padding: 0px 10px 50px 10px;
    font-size: .9em;
    color: black;
    font-weight: normal;
  }

  img { 
    margin: 10px;
   max-width: 220px;
    }
  
  
  /* tablet view*/
  @media only screen and (min-width: 37.5em) {
  .grid-container {
    grid-template-columns: auto auto;
  }
  }
  
  /* Desktop view*/
  @media only screen and (min-width: 60em) {
    .grid-container {
      grid-template-columns: auto auto auto;
    }
  }
  